<footer class="footer">
    <div>
       <a href="https://github.com/AhmedTrabelsy/SwapShop" target="_blank"><img src="../../../assets/images/github.png" alt="github" width="80px" height="80px"></a>
       <a href="https://sprintsqua.atlassian.net/jira/software/projects/SS/boards/2" target="_blank"><img src="../../../assets/images/jira.png" alt="github" width="100px" height="30px"></a>
    </div>
    <div class="spacer">
        <p>Made With 💗 Sprint Squad Team</p><br>
        <p>© 2023 Swap Shop</p>
    </div>
</footer>
