<div class="head" [ngClass]="getHeadClass()">
  <div class="head-content">
    <div class="head-content-left">
      <div class="div search-container">
        <div class="div normal-search">
          <i class="far fa-search search-icon"></i>
          <input type="search" name="" id="" placeholder="Looking for something specific...?" class="search">
        </div>
      </div>
    </div>
    <div class="div head-content-right">
      <div class="div head-menu">
        <div class="div head-menu-item">
          <div class="button head-menu-item-btn ripple">
            <i class="far fa-shopping-cart"></i>
          </div>
        </div>
        <div class="div head-menu-item">
          <div class="button head-menu-item-btn ripple">
            <i class="far fa-expand menu-icon"></i>
          </div>
        </div>
        <div class="div head-menu-item">
          <div class="button head-menu-item-btn ripple">
            <i class="far fa-bell menu-icon"></i>
          </div>
        </div>
        <div class="div head-menu-item">
          <div class="button head-menu-item-btn ripple">
            <i class="far fa-comment-alt menu-icon"></i>
          </div>
        </div>
      </div>
      <div class="head-user-avatar-container">
        <div class="head-user-avatar">
          <img [src]="'assets/user.png'" alt="user" class="user-avatar">
          <div class="circle-indocator pulse"></div>
        </div>
      </div>
    </div>
  </div>
</div>
