<div class="card">
  <div class="card-header">
    <h4 class="card-title">Ajouter une catégorie</h4>
  </div>
  <div class="card-body">
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Name</label>
        <input type="text" name="name" class="form-control" [(ngModel)]="name">
      </div>
      <div class="form-group">
        <label>Category Parent</label>
        <select name="parentCategoryId" class="form-control" [(ngModel)]="parentCategoryId">
          <option [value]="null">--</option>
          <option *ngFor="let category of categories" [value]="category.id">
            {{ category.name }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label>ICON</label>
        <input type="file" name="icon" class="form-control" (change)="onFileSelected($event)" #fileUpload>
      </div>
      <button class="btn btn-success">
        Ajouter
      </button>
    </form>
  </div>
</div>