<div class="admin-sidebar" *ngIf="isAuthenticated">
  <div class="logo">
    <a target="_blank" href="http://google.com">
      <img src="/assets/images/logo.png" />
    </a>
  </div>
  <hr>
  <div class="user-profile">
    <div class="avatar">
      <i class="pi pi-user" style="font-size: 2rem"></i>
    </div>
    <p class="username" routerLink="/edit-profile">{{ userData.username }}</p>
    <p class="role" *ngIf="userRole && userRole.length > 0">
      <span *ngFor="let role of userRole; let last = last">
        {{ role }}{{ !last ? ', ' : '' }}
      </span>
    </p>
  </div>
  <div class="links">
    <ul>
      <li>
        <a routerLink="/"><i class="pi pi-home"></i> Dashboard</a>
      </li>
      <li>
        <a routerLink="/products"><i class="pi pi-briefcase"></i> Products</a>
      </li>
      <li>
        <a routerLink="/categories"><i class="pi pi-list"></i> Categories</a>
      </li>
      <li>
        <a routerLink="/orders"><i class="pi pi-shopping-cart"></i> Orders</a>
      </li>
      <li>
        <a routerLink="/users"><i class="pi pi-users"></i> Users</a>
      </li>
      <li>
        <a routerLink="/notifications"><i class="pi pi-bell"></i> Send Notification</a>
      </li>
      <li>
        <a class="logout" (click)="logoutUser()"><i class="pi pi-sign-out"></i> Logout</a>
      </li>
    </ul>
  </div>
</div>
