# Ignore specific files
file.txt
secret.key

# Ignore directories
node_modules/
dist/

# Ignore files with specific extensions
*.log
*.tmp
*.swp

# Ignore all files and directories starting with a dot
.*

# Ignore Docker-related files
Dockerfile
.dockerignore
.dockerignore.template
.dockerignore.example