<header>
  <div class="grid">
    <div class="col-3">
      <div class="logo">
        <img src="assets/images/logo.png" alt="swapshop logo">
      </div>
    </div>
    <div class="col-4 search">
      <swap-shop-products-search></swap-shop-products-search>
    </div>
    <div class="col-3 p-offset-1 navigation">
      <swap-shop-nav></swap-shop-nav>
    </div>
    <div class="col-2 tools">
      <i class="pi pi-user" *ngIf="isAuthenticated"></i>
      <a routerLink="/login" class="p-3" *ngIf="!isAuthenticated">Login</a>
      <a routerLink="/signUp" *ngIf="!isAuthenticated">signUp</a>
      <a routerLink="/wishlist"><i class="pi pi-heart" *ngIf="isAuthenticated"></i></a>
    </div>
  </div>
</header>
