<div class="card">
  <div class="card-header">
    <h4 class="card-title">Modifier la catégorie</h4>
  </div>
  <div class="card-body">
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Name</label>
        <input type="text" name="name" class="form-control" [(ngModel)]="category.name">
      </div>
      <!-- <div class="form-group">
        <label>Category Parent</label>
        <select name="parentCategoryId" class="form-control" [(ngModel)]="category.id">
          <option [value]="null">--</option>
          <option *ngFor="let category of categories" [value]="category.id">
            {{ category.name }}
          </option>
        </select>
      </div> -->
      <div class="form-group">
        <label>ICON</label>
        <input type="file" name="icon" class="form-control" (change)="onFileSelected($event)" #fileUpload>
        <br />
        <img width="70" height="70" [src]="'http://34.199.239.78:8888/CATEGORY-SERVICE/'+category.icon" />
      </div>
      <button class="btn btn-success">
        Modifier
      </button>
    </form>
  </div>
</div>