.admin {
  &-wrapper {
    height: 100%;
    padding: 0;
    margin: 0;
  }

  &-main {
    width: calc(100% - 175px);
    margin-left: 175px;
  }

  &-sidebar {
    position: fixed;
    width: 175px;
    background-color: #0a1d31;
    height: 100%;
    top: 0;

    .logo {
      padding: 15px 15px 10px;
      width: 100%;

      img {
        max-width: 100%;
        padding: 15px;
        background: rgba(255, 255, 255, 0.271);
        border-radius: 10px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border: 1px solid rgba(255, 255, 255, 0.2);
        transition: 0.25s ease-in-out;

        cursor: pointer;
        &:hover{
          transform: scale(1.1);
          transition: 0.25s ease-in-out;
          border-radius: 5px;
        }
        &:active{
          transform: translate(20px);
          transition: 0.05s ease-in-out;
        }
      }
    }

    .links {
      ul {
        margin: 0;
        padding: 0;

        li {
          display: block;
          list-style: none;
          width: 100%;

          a {
            color: var(--surface-a);
            padding: 10px 15px;
            display: block;
            width: 100%;
            transition: 0.25s ease-in-out;

            &:hover {
              background: rgba(255, 255, 255, 0.271);
              box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
              backdrop-filter: blur(10px);
              -webkit-backdrop-filter: blur(10px);
              border-radius: 7px;
              transform: translate(20px);
              transition: 0.25s ease-in-out;
            }
            &:active{
              transform: translate(70px);
              transition: 0.05s ease-in-out;
            }

            i {
              margin-right: 8px;
              margin-top: 0;
              float: left;
            }

            &.logout {
              color: var(--blue-500);
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  &-page {
    padding: 15px;
  }
}
