.unauthorized-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4; /* Replace with desired background color */
  
    &__container {
      text-align: center;
  
      &__content {
        background-color: #fff; /* Replace with desired content background color */
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        max-width: 400px;
        width: 100%;
  
        &__title {
          font-size: 4rem;
          margin-bottom: 10px;
          color: #333; /* Replace with desired title color */
        }
  
        &__subtitle {
          font-size: 2rem;
          margin-bottom: 10px;
          color: #555; /* Replace with desired subtitle color */
        }
  
        &__description {
          font-size: 1.2rem;
          margin-bottom: 20px;
          color: #777; /* Replace with desired description color */
        }
  
        &__link {
          display: block;
          text-decoration: none;
          color: #007bff; /* Replace with desired link color */
          transition: color 0.3s ease-in-out;
  
          &:hover {
            color: #0056b3; /* Replace with desired link hover color */
          }
        }
      }
    }
  }
  